.all-components{
    border-width: 20px;
    border-style: dashed;
    border-color: hsl(0, 34%, 42%);
    border-radius: 50px;
    width: 500px;
    height: 500px;
    background-color: green;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
    
}

.shortcut{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 0);
    margin: 200px 30px 50px 70px;
    border: 5px dashed rgb(4, 0, 255);
    border-radius: 80px;
}