h1{
    color: red;
    background-color: green;
}

body{
    background-color: black;
    background-image: url('3CSS.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

p{
    color: white;
}