.p1{
    border-width: 10px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
}

#p2{
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    border-radius: 350px;
}

#p3{
    border: 5px solid green;
    border-radius: 30px;
}